body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes colorChange {
    0% { color: green; }
    50% { color: lime; }
    100% { color: green; }
}

h1 {
    text-align: center;
    margin: 20px 0;
    animation: colorChange 3s infinite;
}


#map {
    height: 500px; 
    width: 100%;
}
